@import '~antd/dist/antd.css';

.header-dashboard {
    display: flex;
    justify-content: space-between;
}

.add-user-btn {
    width: 150px;
    height: 70px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-weight: 800;
}



